.showcase-header {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40px;
  z-index: 99;
  font-size: 32px;
  opacity: 1;
  font-family: 'Zen Dots', cursive;
  font-size: 32px;
  color: rgb(197, 226, 217);
}