.showcase {
  background-color: #000;
  height: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;
  
    &-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5;
    }

  &::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  box-shadow: inset 0 0 500px #000;
  }
  
  &::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../slider-car/light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -65px;
  animation: f-light 3s ease-in-out infinite;
}
}

.showcase-content_wrapper {
  position: relative;
  z-index: 99999;
  height: 100%;
  padding: 120px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../slider-car/glow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: f-glow 2s ease-in-out infinite;
  }
}


.showcase-cars {
  width: 600px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  opacity: 0.9;

  & li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: translateY(-15px);
      opacity: 1;
    }
    & img {
      max-width: 400px;
    }
  }
}



